:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff1100;
  --mainGreen: #119911;
  --mainGrey: #dddddd;
}

body {
  background: var(--mainGrey);
  color: var(--mainWhite);
}

.navbar {
  text-align: center;
}

.form-bordered {
  border: 0.2rem solid var(--mainGreen) !important;
  background: var(--mainDark);
  border-radius: 10px !important;
  text-align: center;
  transition: all 0.2s linear;
}

.form-title {
  font-size: 1.5rem;
}

.password-text {
  font-size: 2rem;
}

.title-text {
  font-size: 2rem;
}
